SECRET_KEY = ''
DEBUG = False
# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio_key
MINIO_SECRET_KEY=minio_password
MINIO_USE_HTTPS=True
MINIO_MEDIA_BUCKET=django-media
MINIO_STATIC_BUCKET=django-static
# Postgres Configuration
POSTGRES_DB=bd_name
POSTGRES_USER=bd_user
POSTGRES_PASSWORD=bd_password
POSTGRES_HOST=bd_host
POSTGRES_PORT=bd_port
