# Database
USE_POSTGRES_DB=True
DB_NAME=myblog
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=myblog
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# MinIO Configuration
MINIO_ENDPOINT=minio:9000
MINIO_EXTERNAL_ENDPOINT=localhost:9000
MINIO_USE_HTTPS=False
MINIO_MEDIA_BUCKET=django-media
MINIO_STATIC_BUCKET=django-static
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword

# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web,nginx,0.0.0.0
SECRET_KEY=

# Gunicorn
GUNICORN_WORKERS=4
GUNICORN_BIND=0.0.0.0:8000
