# Database
DB_NAME=myblog
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_USE_HTTPS=False
MINIO_MEDIA_BUCKET=django-media
MINIO_STATIC_BUCKET=django-static

# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY = ''

# Gunicorn
GUNICORN_WORKERS=4
GUNICORN_BIND=0.0.0.0:8000
