asgiref==3.10.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
distlib==0.4.0
Django==5.2.7
django-taggit==6.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djlint==1.36.4
EditorConfig==0.17.1
filelock==3.20.0
identify==2.6.15
jsbeautifier==1.15.4
json5==0.12.1
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.5.0
pre_commit==4.3.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
PyYAML==6.0.3
regex==2025.10.23
ruff==0.14.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
virtualenv==20.35.4
